/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2025, 4:57:56 PM
    Author     : Huynh Cong Nghiem - CE181351
*/

.body-product{
    display: flex;
}
.filter-product{
    width: 20%;
}
.display-product{
    width: 70%;

}
.product-item {
    border: none;
    box-shadow: none;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-item img {
    width: 100%;
    height: 400px; /* Gi? hình ?nh ??ng nh?t */
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    padding: 10px 20px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.card-text {
    font-size: 14px;
    color: gray;
}
.back-homepage{
    text-align: center;
}
.back-homepage a, span{
    display: inline-block;
}
