body {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-update-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.password-update-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-container label {
    font-weight: bold;
}
.buttons button {
    width: 100%;
    border: 1px solid #000;
    padding: 12px;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.form-control:focus {
    box-shadow: 0 0 5px #000 !important;
    border-color: #000 !important;
}

.image-container-3{
    flex: 1;
    background-image: url('/PenguinStore/Image/Index/resetPicture.gif');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 15px 0px 0px 15px;
}