<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>Filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Cart</url-pattern>
        <url-pattern>/Checkout</url-pattern>
        <url-pattern>/Payment</url-pattern>
        <url-pattern>/ViewProfile</url-pattern>
        <url-pattern>/Order</url-pattern>
        <url-pattern>/EditProfile</url-pattern>
        <url-pattern>/Feedback</url-pattern>
        <url-pattern>/ChangePassword</url-pattern>
        <url-pattern>/DashBoardForAdmin</url-pattern>
        <url-pattern>/DashBoardForStaff</url-pattern>
        <url-pattern>/ListFeedbackForStaff</url-pattern>
        <url-pattern>/ManageProduct</url-pattern>
        <url-pattern>/Type</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/DashBoardForAdmin</url-pattern>
        <url-pattern>/DashBoardForStaff</url-pattern>
        <url-pattern>/ManageProduct</url-pattern>
        <url-pattern>/Restock</url-pattern>
        <url-pattern>/Cart</url-pattern>
        <url-pattern>/Checkout</url-pattern>
        <url-pattern>/Payment</url-pattern>
        <url-pattern>/ViewProfile</url-pattern>
        <url-pattern>/Order</url-pattern>
        <url-pattern>/EditProfile</url-pattern>
        <url-pattern>/Feedback</url-pattern>
        <url-pattern>/ListFeedbackForStaff</url-pattern>
        <url-pattern>/ManageProduct</url-pattern>
        <url-pattern>/Statistic</url-pattern>
        <url-pattern>/Type</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>Controller.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>Controller.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeController</servlet-name>
        <servlet-class>Controller.TypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>Controller.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>Controller.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VVCustomerController</servlet-name>
        <servlet-class>Controller.VVCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>Controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestockController</servlet-name>
        <servlet-class>Controller.RestockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginManagerController</servlet-name>
        <servlet-class>Controller.LoginManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet404</servlet-name>
        <servlet-class>Controller.ErrorServlet404</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet500</servlet-name>
        <servlet-class>Controller.ErrorServlet500</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListFeedback</servlet-name>
        <servlet-class>Controller.ViewListFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticController</servlet-name>
        <servlet-class>Controller.StatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardForStaffServlet</servlet-name>
        <servlet-class>Controller.DashBoardForStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardForAdminServlet</servlet-name>
        <servlet-class>Controller.DashBoardForAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedController</servlet-name>
        <servlet-class>Controller.AccessDeniedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVariantIDServlet</servlet-name>
        <servlet-class>Controller.GetVariantIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderStaff</servlet-name>
        <servlet-class>Controller.ViewOrderStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement</servlet-name>
        <servlet-class>Controller.OrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeatilStaff</servlet-name>
        <servlet-class>Controller.OrderDetailStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedbackController</servlet-name>
        <servlet-class>Controller.CreateFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UseVoucher</servlet-name>
        <servlet-class>Controller.UseVoucher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/OrderHistory</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>View/index.jsp</welcome-file>
    </welcome-file-list>
    <!--<error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeController</servlet-name>
        <url-pattern>/Type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VVCustomerController</servlet-name>
        <url-pattern>/VVCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticController</servlet-name>
        <url-pattern>/Statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestockController</servlet-name>
        <url-pattern>/Restock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginManagerController</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet500</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListFeedback</servlet-name>
        <url-pattern>/ListFeedbackForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardForStaffServlet</servlet-name>
        <url-pattern>/DashBoardForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardForAdminServlet</servlet-name>
        <url-pattern>/DashBoardForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedController</servlet-name>
        <url-pattern>/AccessDenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVariantIDServlet</servlet-name>
        <url-pattern>/GetVariantIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderStaff</servlet-name>
        <url-pattern>/ViewOrderStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement</servlet-name>
        <url-pattern>/OrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeatilStaff</servlet-name>
        <url-pattern>/OrderDetailStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedbackController</servlet-name>
        <url-pattern>/CreateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UseVoucher</servlet-name>
        <url-pattern>/UseVoucher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
